<a href="https://colab.research.google.com/github/gundaminpde/2022/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## round(숫자,자릿수)

round((1+2+3+4+5)/7,3)

2.143

In [ ]:
## 123456e3 = 123456 X 10^3

print(3.56 == 356e-2)

True

In [ ]:
## 간단히 함수 정의하기 lambda 매개변수1, 매개변수2: 함수

y = lambda a,b: a+(b**2)

y(3,10)

103

In [ ]:
## return 

def f(x,y):
  return x+y

f(1,2)

3

In [ ]:

import os

os.chdir('/content/')

print(os.getcwd()) #현재 위치 확인하기

print(os.listdir()) 

###os.chdir('C:\\User\\user\\python') 폴더 이동하기


os.chdir('/content/sample_data/')

print(os.listdir()) #폴더 안에 뭐가 있나?

### 객체 이름 = open('파일이름',파일열기 모드) 

### open('README.md','w') ### 사실 객체이름을 정하지 않아도 파일이 열린다.

##f = open('README.md','w')

##f.close() ### 닫지 않고 다시 여는 것같은 작업을 하면, 오류가 생긴다. 그래서 쓰고 나면, 닫아야 한다.

## 'w'는 파일 내용을 새로 쓸 때, 'r'은 내용을 읽을 때, 'a'는 내용을 추가할 때 사용한다.

f = open('test1.txt','r')


## f = open('test1.txt','r',encoding ='utf8' ) 화일이 한글일 때, encoding ='utf8'추가한다.

f.read()

/content
['.config', 'mnist_train_small.csv', 'sample_data']
['anscombe.json', 'README.md', 'mnist_train_small.csv', 'test1.txt', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_test.csv']

'주성치가 좋아요.'

In [16]:
### 와~ pandas

import pandas as pd


targetUrl = "https://raw.githubusercontent.com/gundaminpde/2022/main/gapminder_sample.tsv"

df2 = pd.read_csv(targetUrl, sep='\t')

print(df2.head())

print(type(df2))

print(df2.shape)

print(df2.columns)

print(df2.dtypes)

print(df2.info())


#import os

#os.chdir('/content/')

#print(os.getcwd())

#df = pd.read_csv('../content/sample_data/california_housing_train.csv', sep=',')

#print(df.head())

### !git clone https://github.com/gundaminpde/chow.git

##df3 = pd.read_csv("./chow/ThoraricSurgery.csv", sep=',')

## print(df3.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
<class 'pandas.core.frame.DataFrame'>
(1704, 6)
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [ ]:
# 판다스 자료형 : 파이썬 자료형 : 설명
#  object    : string    : 문자열
#  int64     : int       : 정수
#   float64  : float     : 소숫점 가진 숫자
# datatime64 : datatime  : 파이썬 라이브러리 datatime 반환하는 자료형 (시계열할 때)

In [46]:
# 열(column) 단위로 데이터 추출하기 

countary_df=df2["country"]

print(type(countary_df)) ## type는 series

print(countary_df.head())

print(countary_df.tail())

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [47]:



subset_df=df2[["country", 'continent', 'year']]

print(type(subset_df)) # type이 dataframe


print(subset_df.head())

print(subset_df.tail())

<class 'pandas.core.frame.DataFrame'>
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [3]:
## df2 다시 확인한다. 
print(df2.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
## loc 인덱스를 기준으로 행단위 데이터 추출

print(df2.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [5]:
## iloc 행번호 데이터 추출

print(df2.iloc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [13]:
## 마지막 행을 추출하기

number_rows = df2.shape[0]

print(df2.shape)

last_row_index = number_rows - 1

print(df2.loc[last_row_index])




print(" ")

## 또 다른 방법, tail(n=1)

print("또 다른 방법, tail(n=1)")

print(df2.tail(n=1))

(1704, 6)
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

또 다른 방법, tail(n=1)
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [20]:
print(df2.loc[[0,20,30]]) # [[]] 두개 주의 

print("")


print(df2.loc[0:4])

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
20      Albania    Europe  1992   71.581   3326498  2497.437901
30      Algeria    Africa  1982   61.368  20033753  5745.160213

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106